<div class="col-md-9" id="contenedorNav">
  <nav class="navbar navbar-expand-lg navbar-light" id="barraqla">
   <!-- <a class="navbar-brand" routerLink="#" id="txtNav"></a> -->
   <img src="https://i.pinimg.com/originals/33/b8/69/33b869f90619e81763dbf1fccc896d8d.jpg" id="fotologo" alt="..." class="img-thumbnail">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="#" id="txtNav"><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/Home" id="txtNav">𝙄𝙣𝙞𝙘𝙞𝙤<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login" id="txtNav">𝙄𝙣𝙞𝙘𝙞𝙖𝙧 𝙎𝙚𝙨𝙞𝙤𝙣<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/registro" id="txtNav">𝙋𝙚𝙧𝙛𝙞𝙡<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

 </div>
 <div class="row">
  <div class="col-md-12" >
    <div class="container">
      <h2 id="ASD">¿𝘾𝙤𝙢𝙤 𝙁𝙪𝙣𝙘𝙞𝙤𝙣𝙖𝙢𝙤𝙨?</h2>
    </div>

  </div>
</div>
 <div class="container" id="producto">
     <div class="container" id="fotoproducto">
      <div class="card" id="cartas">
          <img id="fotoCarta" src="https://static1.abc.es/Media/201503/03/apreton-manos--644x362.jpg" class="card-img-top" alt="...">
          
        </div>
          

     </div>
     <div class="container" id="descripcion">
       <a id="ASD"> Los Intercambios van en tí.</a>
       <br>
       <a id="COMOFUNCA">Hola! Seguramente llegaste acá preguntándote sobre esta página. Danos un momento para explicarte rápidamente en que nos basamos:
        </a> <br>
        <a id="COMOFUNCA">Somos una página web creada especial y principalmente en el intercambio de artículos con valor similar o cercano, donde te daremos la oportunidad de navegar por nuestra página y descubrir las distintas categorías de productos que tenemos a disposición gracias a nuestros clientes.</a>
     </div>
    
 </div>
 <div class="container-fluid">
  <div class="container" id="contenedorCuerpo">
        <div class="row">
            <div class="col-md-12">
              <BR>     
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" >
              <div class="card" id="cartas">
                <img id="fotoCarta" src="https://www.redeszone.net/app/uploads-redeszone.net/2020/05/iniciar-sesion-seguridad.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"id="ASD">En esta página, te aseguramos confidencialidad con tus datos personales, datos que solamente serán visualizados con la persona que se esté operando el intercambio deseado</h5>
                  <p class="card-text"></p>
                  
                </div>
              </div>
            </div>
      

            <div class="col-md-4">

              <div class="card" id="cartas">
                <img  id="fotoCarta" src="https://miro.medium.com/max/7240/1*mXF8rbuzBzYMEYF8ixOJuA.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" id="ASD">En esta página, te aseguramos mantenimiento continuo de esta, la cual tendrá mejores características conforme pase el tiempo y se tenga mejor retroalimentación de la página que hemos realizado.</h5>
                  <p class="card-text"></p>
                  
                </div>
              </div>

            </div>
            <div class="col-md-4">

              <div class="card" id="cartas">
                <img  id="fotoCarta" src="https://sites.google.com/site/cazatesorosmalalayousafzai/_/rsrc/1423653021626/3-preguntas/preguntas.jpg?height=295&width=400" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"id="ASD">Si llegas a tener consultas sobre nuestra página, o tienes algún problema, no dudes en contactarnos en nuestras redes sociales, las cuales puedes encontrar en nuestra misma página!</h5>
                  <p class="card-text"></p>
                  
                </div>
              </div>

            </div>

          

            </div>




         <div class="row">
              <div class="col-md-12" >
                <h2 id="ASD">Visitanos en nuestras redes!</h2>
                <br>
                  
  
              </div>
          </div>
      



          <div class="row text-center align-items-center" id="tarjetasAbajo">


        
            <div class="col-md-4 text-center" >
              
              <div class="card" id="cartas">
                <img src="https://www.cm.com/cdn/web/blog/featured/winter-2020.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" id="ASD">Funcionalidad desde Julio 2020</h5>
                </div>
              </div>
                

            </div>

            <div class="col-md-4 text-center" >

              <div class="card" id="cartas">
                <img id="fotoCarta" src="https://www.estrategiaynegocios.net/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=sT6e$Nsqxhlg_54qFpzKKM$daE2N3K4ZzOUsqbU5sYs3B$A$o6v5TsStLgNhq6TZ6FB40xiOfUoExWL3M40tfzssyZqpeG_J0TFo7ZhRaDiHC9oxmioMlYVJD0A$3RbIiibgT65kY_CSDiCiUzvHvODrHApbd6ry6YGl5GGOZrs-&CONTENTTYPE=image/jpeg" id="fotoCarta" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"id="ASD">Divulguemos el respeto en la página para poder lograr una correcta comunidad y poder ayudarnos entre todos!</h5>

                </div>
              </div>

            </div>

            <div class="col-md-4" >
              <div class="card" id="cartas">
                <img ID="log" src="https://ruedasylucas.cl/wp-content/uploads/2019/05/Registro-en-ruedas-y-lucas.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <a routerLink="/registro"  id="ASD">Listo para intercambiar? Regístrate!</a>

                </div>
              </div>
                

            </div>
          
            </div>
        
            
           



          


        


            
            
  </div>
   
 </div>

